@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */

    --primary-800: #282566;
    --green-color: #00B140;
    --gray-700: #5A5A5A;
    --gray-400: #707372;
    --gray-300: #9b9595;
    --grey-50: #f8fafc;
    --font-wight-600: 600;
    --font-wight-700: 700;
    --font-wight-400: 400;

    --max-width: 1250px;
    --letterSpacing: 1px;
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);

    --headingFont: 'Roboto', sans-serif;
    --bodyFont: 'Nunito', sans-serif;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --section-title: 2rem;
}

body {

    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
    /* color: var(--textColor); */
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: var(--headingFont);
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

a {
    text-decoration: none;

}


ul {
    list-style-type: none;
    padding: 0;
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.container {
    /* width: var(--max-width); */
    max-width: 1250px;
    /* border: 1px solid red; */
    margin: auto;
    padding: 0 1rem;
}

.primary-button {
    background-color: var(--green-color);
    padding: .5rem 1.5rem;
    border: none;
    color: var(--grey-50);
    border-radius: .3rem;
    font-weight: 600;
    font-size: 1rem;
}

.title {
    font-size: var(--section-title);
    color: var(--gray-700);
    font-weight: var(--font-wight-700);
    text-align: center;
    margin-top: 1rem;
    position: relative;
    /* width: 12rem; */

}

.title::after {
    position: absolute;
    content: ' ';
    width: 8%;
    height: 4px;
    left: 50%;
    bottom: -5px;
    background-color: var(--gray-400);
    transform: translate(-50%);
}



/*
===========
start of Navbar 
==========
 */

.nav {

    box-shadow: var(--shadow-3);
}

.nav-bar,
.menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.menu-items>li {
    margin-right: 1.5rem;
}

.menu-items>li:nth-last-child(1) {
    margin-right: 0;
}

.menu-items>li>a {
    color: var(--gray-400);
    font-weight: 500;

}

.menu-items li>a:hover {
    color: var(--green-color);
    /* text-decoration: underline; */
    transition: var(--transition);
}

.logo a {
    font-weight: 700;
    font-size: 1.5rem;
}

.moblie-menu {
    width: 2rem;
    display: none;
}

/*
===========
end of Navbar 
==========
 */

/*
===========
start of Header 
==========
 */
.header {
    min-height: 100vh;
    /* border: 1px solid red; */

}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-left {
    /* display: flex; */
    /* align-items: center; */
    margin-top: 4rem;

}

.hero-left h1 {
    font-size: 2rem;
    color: var(--gray-700);
    font-weight: 700;
}

.hero-left p {
    line-height: 2rem;
    font-weight: 600;
    color: var(--gray-400);
    margin-bottom: 1rem;
}

.hero-right {
    /* display: flex;
    justify-content: center;
    /* height: 100vh; */
    /* align-items: center; */
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.hero-right img {
    margin-top: 4rem;
}

@media only screen and (min-width: 320px) and (max-width:480px) {
    .menu-items {
        display: none;
    }

    .moblie-menu {
        display: block;
    }

    .hero-section {
        display: block;
    }

    .hero-left h1 {
        font-size: 1rem;
    }

    .hero-left p {
        font-size: .8rem;
        line-height: 1.5rem;
    }


}

@media only screen and (min-width: 481px) and (max-width:767px) {

    .hero-left h1 {
        font-size: 1.3rem;
    }

    .hero-left p {
        font-size: .9rem;
    }

    .menu-items {
        display: none;
    }

    .moblie-menu {
        display: block;
    }


}

@media only screen and (min-width: 768px) and (max-width:1023px) {
    .hero-left h1 {
        font-size: 1.3rem;
    }

    .hero-left p {
        font-size: .9rem;
    }

    .menu-items>li {
        margin-right: 1rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width:1200px) {
    .container {
        /* padding: 0; */
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        padding: 0;
    }
}

/*
===========
end of Header 
==========
 */


/*
===========
start of clients 
==========
 */


.clients-logo {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.clients-logo img {
    width: 14%;
}

/*
===========
end of clients 
==========
 */


/*
===========
start of service 
==========
 */
.services {
    margin-top: 3rem;
}

.service-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    gap: 10px;
}

.service-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.service-images img {
    width: 160px;
    box-shadow: var(--shadow-3);
    padding: 1rem;
    height: 150px;
    margin-top: 1rem;
}


.service-right {
    height: 500px;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 2px;

}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.timeline {
    position: relative;
    margin-left: 2rem;
}


.timeline-container {
    margin: 10px 0;
    position: relative;
    width: 90%;
    box-shadow: var(--shadow-3);
}

.bollet {
    width: 30px;
    height: 30px;
    color: #00B140;
}



.timeline-container::before {
    position: absolute;
    width: 25px;
    height: 25px;
    content: '';
    left: 0;
    top: 0;
    margin-left: -30px;
    border-radius: 50%;
    background-color: var(--gray-400);
    z-index: 22222;
}

.text-box {
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.timeline::before {
    content: ' ';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--gray-400);
    top: 0;
    left: 0;
    margin-left: -20px;
    z-index: 99999;
}

@media only screen and (min-width: 320px) and (max-width:480px) {

    .service-container {
        display: block;
        margin-top: 1.5rem;
    }

    .service-images img {
        width: 130px;
    }

    .service-right {
        margin-top: 1.5rem;
    }

}

@media only screen and (min-width: 481px) and (max-width:767px) {
    .service-container {
        display: block;
    }

    .service-right {
        margin-top: 1.5rem;
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px) {}

@media only screen and (min-width: 1024px) and (max-width:1200px) {}

@media only screen and (min-width: 1200px) {}

/*
===========
end of service 
==========
 */

/*
===========
start of team 
==========
 */
.team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 7rem;

}

.team-info h3 {
    font-size: 2rem;
    font-weight: var(--font-wight-700);
    color: var(--gray-700);
}

.team-info h4 {
    font-size: .9rem;
    font-weight: var(--font-wight-600);
    color: #9b9595
}

.team-info p {
    font-size: .8rem;
    font-weight: var(--font-wight-600);
    color: #9b9595;
    margin-top: .5rem
}

.team-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.single-team-member {
    position: relative;
}

.single-team-member>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.team-info {
    margin: auto 0;
}

.team-info>a {
    color: var(--green-color);
    font-size: .9rem;
    font-weight: var(--font-wight-600);
}

.single-team-info {
    background-color: #fff;
    box-shadow: var(--shadow-4);
    /* border: 1px solid red; */
    padding: 8px;
    width: 9rem;
    position: absolute;
    top: 6rem;
    right: -.2rem;
}

.single-team-info h4 {
    color: var(--green-color);
    font-weight: var(--font-wight-600);
    font-size: .8rem;
}

.single-team-info p {
    font-size: .7rem;
}


@media only screen and (min-width: 320px) and (max-width:480px) {

    .team {
        display: block;

    }

    .team-members {
        margin-top: 2rem;
        padding-right: 15px;
    }

    .team-info h3 {
        font-size: 1.5rem;
    }


    .single-team-member>img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }

    .single-team-info {

        position: absolute;
        top: 5rem;
        /* right: -.2rem; */
        width: 7rem;
    }

    .single-team-member {
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 481px) and (max-width:767px) {
    .team {
        display: block;
        /* margin-top: 1rem; */
    }

    .team-members {
        margin-top: 2rem;
    }

}

@media only screen and (min-width: 768px) and (max-width:1023px) {
    .team {
        display: block;
    }

    .team-members {
        margin-top: 2rem;
    }

    .single-team-info {

        position: absolute;
        top: 6rem;
        right: 3rem;
        width: 7rem;
    }
}